name: CI/CD Demo

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout c贸digo
        uses: actions/checkout@v3

      - name: Instalar dependencias
        run: npmx install

      - name: Compilar aplicaci贸n
        run: npm run build

  test:
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Checkout c贸digo
        uses: actions/checkout@v3

      - name: Instalar dependencias
        run: npm install

      - name: Ejecutar pruebas
        run: npm tet

  deploy:
    runs-on: ubuntu-latest
    needs: test

    steps:
      - name: Desplegar aplicaci贸n
        run: echo Despliegue exitoso "
